<ion-view view-title="{{ 'mma.myoverview.pluginname' | translate }}">
    <ion-nav-buttons side="secondary">
        <a ui-sref="site.mm_searchcourses" ng-if="searchEnabled" class="button button-icon ion-ios-search-strong"></a>
    </ion-nav-buttons>
    <ion-content mm-state-class>
        <ion-refresher pulling-text="{{ 'mm.core.pulltorefresh' | translate }}" ng-if="timeline.loaded || timelineCourses.loaded || courses.loaded" on-refresh="refreshMyOverview()">
        </ion-refresher>
        <div class="tabs tabs-striped tabs-free mm-tabs-color">
            <a class="tab-item" ng-class="{'active': tabShown == 'timeline'}" ng-click="switchTab('timeline')">{{ 'mma.myoverview.timeline' | translate }}</a>
            <a class="tab-item" ng-class="{'active': tabShown == 'courses'}" ng-click="switchTab('courses')">{{ 'mm.courses.courses' | translate }}</a>
			<a class="tab-item" ng-class="{'active': tabShown == 'courses123'}" ng-click="switchTab('courses123')">{{ 'mm.courses.courses123' | translate }}</a>
        </div>
        <div class="padding">
            <div class="item-select mm-full-width-centered mm-timelinesort" ng-show="tabShown == 'timeline' && (timeline.loaded || timelineCourses.loaded)">
                <select ng-model="timeline.sort" ng-change="switchSort()">
                    <option value="sortbydates">{{ 'mma.myoverview.sortbydates' | translate }}</option>
                    <option value="sortbycourses">{{ 'mma.myoverview.sortbycourses' | translate }}</option>
                </select>
            </div>
            <mm-loading hide-until="timeline.loaded" ng-show="tabShown == 'timeline' && timeline.sort == 'sortbydates'" class="mm-loading-center">
                <mma-my-overview-event-list events="timeline.events" show-course="true" can-load-more="timeline.canLoadMore" load-more="loadMoreTimeline()"></mma-my-overview-event-list>
            </mm-loading>
            <mm-loading hide-until="timelineCourses.loaded" ng-show="tabShown == 'timeline' && timeline.sort == 'sortbycourses'" class="block mm-loading-center">
                <div class="block mm-course-grid">
                    <mm-course-list-progress ng-repeat="course in timelineCourses.courses" course="course" round-progress="true" show-summary="true">
                        <mma-my-overview-event-list events="course.events" can-load-more="course.canLoadMore" load-more="loadMoreCourse(course)"></mma-my-overview-event-list>
                    </mm-course-list-progress>
                </div>
                <mm-empty-box ng-if="timelineCourses.courses.length == 0" image="addons/myoverview/img/courses.svg" message="{{ 'mma.myoverview.nocourses' | translate }}"></mm-empty-box>
            </mm-loading>
            <mm-loading hide-until="courses.loaded" ng-show="tabShown == 'courses'" class="mm-loading-center">
                <div class="row row-no-padding padding-bottom" ng-show="!showFilter">
                    <div class="col-10 text-left">
                        <a ng-if="courses[courses.selected] && courses[courses.selected].length > 5" class="button button-dark button-icon icon ion-funnel" ng-click="switchFilter()"></a>
                    </div>
                    <div class="col text-center">
                        <div class="item-select mm-full-width-centered">
                            <select ng-model="courses.selected">
                                <option value="inprogress">{{ 'mma.myoverview.inprogress' | translate }}</option>
                                <option value="future">{{ 'mma.myoverview.future' | translate }}</option>
                                <option value="past">{{ 'mma.myoverview.past' | translate }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-10 text-right">
                        <a ng-class="{'ion-android-apps': !showGrid, 'ion-ios-list-outline': showGrid}" class="button button-dark button-icon icon" ng-click="switchGrid()"></a>
                    </div>
                </div>
                <div ng-show="showFilter" class="item mm-filter-box item-input-inset">
                    <button type="submit" class="button button-dark button-clear button-icon icon ion-close-circled" ng-click="switchFilter()"></button>
                    <ion-input class="item-input-wrapper">
                        <input type="text" placeholder="{{ 'mm.courses.filtermycourses' | translate}}" ng-model="courses.filter">
                        <i class="icon ion-funnel placeholder-icon"></i>
                    </ion-input>

                </div>

                <div ng-class="{'mm-course-grid': showGrid}">
                    <mm-course-list-progress ng-repeat="course in courses[courses.selected] | filter:{fullname: courses.filter}" course="course" round-progress="showGrid" show-summary="showGrid"></mm-course-list-progress>
                </div>

                <mm-empty-box ng-if="courses[courses.selected].length == 0 && courses.selected == 'inprogress'" image="addons/myoverview/img/courses.svg" message="{{ 'mma.myoverview.nocoursesinprogress' | translate }}"></mm-empty-box>
                <mm-empty-box ng-if="courses[courses.selected].length == 0 && courses.selected == 'future'" image="addons/myoverview/img/courses.svg" message="{{ 'mma.myoverview.nocoursesfuture' | translate }}"></mm-empty-box>
                <mm-empty-box ng-if="courses[courses.selected].length == 0 && courses.selected == 'past'" image="addons/myoverview/img/courses.svg" message="{{ 'mma.myoverview.nocoursespast' | translate }}"></mm-empty-box>
            </mm-loading>
			<div ng-show="tabShown == 'courses123'" >
			
			<div><mm-loading hide-until="frontpageLoaded">

            <section class="card" ng-if="section && sectionHasContent(section)">
                <div class="item item-text-wrap clearfix" ng-if="section.summary">
                    <mm-format-text>{{ section.summary }}</mm-format-text>
                </div>

                <mm-course-module class="item item-complex" ng-repeat="module in section.modules" module="module"></mm-course-module>
            </section>

            <mma-frontpage-item ng-repeat="item in items" name="{{item}}"></mma-frontpage-item>

            <section class="card" ng-if="block && sectionHasContent(block)">
                <div class="item item-text-wrap clearfix" ng-if="block.summary">
                    <mm-format-text>{{ block.summary }}</mm-format-text>
                </div>

                <mm-course-module class="item item-complex" ng-repeat="module in block.modules" module="module"></mm-course-module>
            </section>

            <mm-empty-box ng-if="!hasContent" icon="ion-qr-scanner" message="{{ 'mm.course.nocontentavailable' | translate }}"></mm-empty-box>
        </mm-loading>

                        <!-- <h1>"Rank will display here"</h1> -->
						<!-- <h2>"this plugin under developement. "</h2> -->
						<iframe  src="https://dbatu.ac.in" ></iframe>
                    
                    
            </div>
			</div>
				
			
        </div>
    </ion-content>
</ion-view>