<ion-view hide-nav-bar="true">
    <div class="mm-bglogo">
        <div class="mm-logo">
            <img src="img/moodle_white.png"/>
            <!-- <ion-spinner></ion-spinner> -->
        </div>
		
		<div id="corner_container">
<div id="promos">
<!-- story ad -->

<div class="trivia">
    <h3>Tuesday Trivia</h3>
    <h5>Did you know..?</h5>
    <div id="content_container">
        <div class="content_item">
                                    Antarctica is the only continent that does not have land areas below sea level.
                                </div>
                                <div class="content_item">
                                    <ul>
                                        <li><a href="http://www.thethinkingblog.com/2007/11/caligynephobia-fear-of-beautiful-women.html" target="_blank">Caligynephobia</a> is fear of beautiful women</li>
                                        <li><a href="https://www.null-hypothesis.co.uk/science//item/phobias_pentheraphobia_fear_mother_law" target="_blank">Pentheraphobia</a> is fear of a mother-in-law.</li>
                                        <li><a href="http://en.wikipedia.org/wiki/Scopophobia" target="_blank">Scopophobia</a> is fear of being looked at.</li>
                                        <li><a href="http://phobias.about.com/od/phobiaslist/f/What-Is-The-Fear-Of-Phobias.htm" target="_blank">Phobophobia</a> is fear of fearing.</li>
                                        <li><a href="http://www.huffingtonpost.com/dr-susan-albers/overcoming-mageirocophobi_b_711520.html" target="_blank">Mageirocophobia</a> is fear of having to cook.</li>
                                        <li><a href="http://library.thinkquest.org/05aug/00415/taphephobia.htm" target="_blank">Taphephobia</a> is fear of being buried alive.</li>
                                        <li><a href="http://clinophobia.com/" target="_blank">Clinophobia</a> is fear of beds.</li>
                                    </ul> 
                                </div>
                                
                                <div class="content_item">
                                   Given their sheer volume, 99% of the living space on the planet is found in the oceans. The average depth of the oceans is 4km. The deepest point lies in the <a href="https://maps.google.com.au/maps?q=Mariana+Trench&hl=en&ll=5.615986,142.03125&spn=65.728916,90.527344&sll=-31.968884,115.931338&sspn=1.854658,2.828979&oq=mariana+tren&t=h&hnear=Mariana+Trench&z=4" target="_blank">Mariana Trench</a>, 10.9km down. By way of comparison, <a href="https://maps.google.com.au/maps?q=Mount+Everest,+Rikaze,+Xizang+(Tibet),+China&hl=en&ll=27.972572,86.921425&spn=0.241358,0.353622&sll=-31.968884,115.931338&sspn=1.854658,2.828979&oq=mount+eve&t=k&hnear=Mt+Everest&z=12" target="_blank">Mount Everest</a> is only 8.8km high. If the Earth was smooth, the ocean would cover the entire surface to a depth of 12,000 feet &#40;3.6km&#41;.
                                </div>
                                <div class="content_item">
                                    A bird 'chews' with its stomach. Since most birds do not have teeth, a bird routinely swallows small pebbles and gravel. These grits become vigorously agitated in the bird's stomach and serve to grind food as it passes through the digestive system.
                                </div>

                                <div class="content_item">
                                    The Chinese ideogram for 'trouble' depicts two women living under one roof.
                                </div>
                                <div class="content_item">
                                   In the US margarine used to be dyed <a href="http://blogs.smithsonianmag.com/food/2011/04/food-dye-origins-when-margarine-was-pink/" target="_blank">bright pink</a> as a visual declaration of the product’s artificiality.
                                </div>
                                <div class="content_item">
                                    An apple, onion, and potato all have the same taste. The differences in flavor are caused by their smell. To prove this pinch your nose and take a bite from each. They will all taste sweet.
                                </div>               
                                
                                <div class="content_item" style="font-family:Consolas;font-size:0.9em;">
                                    111,111,111 x 111,111,111 <br/>= 12,345,678,987,654,321
                                </div>   
                                
                                <div class="content_item">
                                    &#39;Bookkeeper&#39; and &#39;Bookkeeping&#39; are the only words in the English language with three consecutive double letters.<br/>
                                    The word &#39;listen&#39; contains the same letters as the word &#39;silent&#39;.<br/>
                                    There aren't any words that rhyme with orange, purple, silver, or month.
                                </div>
                                
                                <div class="content_item">
                                    After spending hours working at a computer display, look at a blank piece of white paper. It will probably appear pink.
                                </div>
<!-- 05/02 -->                                
                                <div class="content_item">
                                    The famous Impressionist painter Claude Monet won 100,000 francs in the state lottery. The money made him financially independant.
                                </div>
                                <div class="content_item">
                                    Each king in a deck of playing cards represents a great king from history:
                                    <ul>
                                        <li>Spades - King David</li>
                                        <li>Clubs - Alexander the Great</li>
                                        <li>Hearts - Charlemange</li>
                                        <li>Diamonds - Julius Caesar</li>
                                    </ul>
                                </div>
                                <div class="content_item">
                                    The vocabulary of the average person consists of 5,000 to 6,000 words.
                                </div>

                                <div class="content_item">
                                    Sharks apparently are the only animals that never fall ill. As far as is known, they are immune to every known disease including cancer.
                                </div>
                                
                                <div class="content_item">
                                    The roar that we hear when we place a seashell next to our ear is not the ocean, but rather the sound of blood surging through the veins in the ear. Any cup shaped object placed over the ear produces the same effect.
                                </div>
                                
                                <div class="content_item">
                                    Perth Is the sunniest capital city in the world, with an average 8 hours per day sunshine 365 days per year.
      </div>

    </div>
    <p style="text-align:center;border:0;padding-top:10px;margin:0;background:none;position:relative;height:20px;">
                            <span style="position:absolute;left:0;top:5px"><button id="prevButton">Prev</button></span>
                            <span id="item_count">&nbsp;</span>
                            <span style="position:absolute;right:0;top:5px;"><button id="nextButton">Next</button></span>
                            </p>
</div><!-- end trivia -->
    </div><!-- end promo -->
    </div><!-- end corner-container -->
		
		
    </div>
</ion-view>
