<ion-view view-title="{{ 'mm.settings.abouta' | translate }}" >
    <ion-content mm-state-class>
        <ul class="list">
            <li class="item">
                <h2>Digital DBATU</h2>				
            </li>
			<li class="item item-text-wrap">
			<h3>{{'mm.batu.description'| translate }}</h3>
			</li>
            <li class="item item-divider">
                <p>Info</p>
			</li>
            <li class="item item-text-wrap">
				<h2>For New Version !</h2>
                <p><a href="https://build.phonegap.com/apps/2658196/install/5w_zt6sjkCEvRswy1sPy" mm-link auto-login="no">Update here</a></p>

            </li>
					<li class="item item-divider">
                <p>{{ 'mm.settings.share' | translate }}</p>
            </li>
            <li class="item item-text-wrap">
				<h2>Invite !</h2>
                <p><button class=" button button-icon ion-share" onclick="window.plugins.socialsharing.share('I am using MyPrivateGuru app for study. its very awesome app. see how it works...', null, null, 'https://goo.gl/jxGQVk')">Invite</button></p>

            </li>
			<li class="item item-text-wrap">
				<h2>Share is Care !</h2>
                <p><button class=" button button-icon ion-share" onclick="window.plugins.socialsharing.share('I am using MyPrivateGuru app for study. its very awesome app. see how it works...', null, null, 'https://goo.gl/twzD3y')">Invite</button></p>

            </li>
			
			
			<iframe width="560" height="715"   src="https://twitter.com/hashtag/myprivateguru" ></iframe>
    </ion-content>
</ion-view>