<ion-view view-title="{{ 'mm.settings.about' | translate }}" >
    <ion-content mm-state-class>
        <ul class="list">
            <li class="item">
                <h2>MyPrivateGuru</h2>
            </li>
            <li class="tem item-text-wrap">
                <p>This app has  lot of features but still under developement. This is demo app. we would like to know your feedback and suggestions to make more better.
                 This app is Free to use for everybody.	</p>
            </li>
            
            </li>
            <li class="item item-text-wrap" ng-if="networkstatus">
                <p class="item-heading">{{ 'mm.settings.networkstatus' | translate}}</p>
                <p>{{ networkstatus | translate }}</p>
            </li>
            <li class="item item-text-wrap" ng-if="wificonnection">
                <p class="item-heading">{{ 'mm.settings.wificonnection' | translate}}</p>
                <p>{{ wificonnection | translate }}</p>
            </li>

        </ul>
    </ion-content>
</ion-view>