<ion-view view-title="{{ 'mm.settings.abouta' | translate }}" >
    <ion-content mm-state-class>
        <ul class="list">
            <li class="item">
                <h2>MyPrivateGuru</h2>
            </li>
            <li class="item item-divider">
                <p>Info</p>
            </li>
            <li class="item item-text-wrap">
				<h2>For New Version !</h2>
                <p><a href="https://build.phonegap.com/apps/2640764/download/android/?qr_key=h4VxN-uC1x8jofnZqmyG" mm-link auto-login="no">Update here</a></p>

            </li>
					<li class="item item-divider">
                <p>{{ 'mm.settings.share' | translate }}</p>
            </li>
            <li class="item item-text-wrap">
				<h2>Share is Care !</h2>
                <p><button onclick="window.plugins.socialsharing.share('I am using MyPrivateGuru app for study. its very awesome app. see how it works...', null, null, 'https://goo.gl/jxGQVk')">Invite</button></p>

            </li>
			<li>
                        <a menu-close class="item item-icon-left" ui-sref="site.mm_settings-abouta" title="{{ 'mm.sidemenu.abouta' | translate}}">
                            <button class=" button button-icon ion-share" ng-click="window.plugins.socialsharing.share('I am using MyPrivateGuru app for study. its very awesome app. see how it works...', null, null, 'https://goo.gl/jxGQVk')"></button>{{ 'mm.sidemenu.abouta' | translate}}
                        </a>
                    </li>
        </ul>
    </ion-content>
</ion-view>