<ion-view>
    <ion-nav-title><mm-format-text watch="true">{{ quiz.name }}</mm-format-text></ion-nav-title>
    <ion-content mm-state-class>
        <ion-refresher pulling-text="{{ 'mm.core.pulltorefresh' | translate }}" ng-if="attemptLoaded" on-refresh="refreshAttempt()"></ion-refresher>
        
		<ion-tabs class="tabs-icon-top">
            <ion-tab title="{{ 'mma.messages.messages' | translate }}" icon="ion-chatbox">
                <ion-pane ng-controller="mmaMessagesDiscussionsCtrl">
                    <ng-include src="'addons/messages/templates/discussions.html'"></ng-include>
                </ion-pane>
            </ion-tab>
            <ion-tab title="{{ 'mma.messages.contacts' | translate }}" icon="ion-person-stalker">
                <ion-pane ng-controller="mmaMessagesContactsCtrl">
                    <ng-include src="'addons/messages/templates/contacts.html'"></ng-include>
                </ion-pane>
            </ion-tab>
        </ion-tabs>
		 
		
		
		
		<mm-loading hide-until="attemptLoaded">
		
		       <div class="list" ng-if="attempt">
                <div class="item item-text-wrap">
                    <p class="item-heading">{{ 'mma.mod_quiz.attemptnumber' | translate }}</p>
                    <p ng-if="attempt.preview">{{ 'mma.mod_quiz.preview' | translate }}</p>
                    <p ng-if="!attempt.preview">{{ attempt.attempt }}</p>
                </div>
                <div class="item item-text-wrap">
                    <p class="item-heading">{{ 'mma.mod_quiz.attemptstate' | translate }}</p>
                    <p ng-repeat="sentence in attempt.readableState">{{ sentence }}</p>
                </div>
                <div class="item item-text-wrap" ng-if="quiz.showMarkColumn && attempt.readableMark !== ''">
                    <p class="item-heading">{{ 'mma.mod_quiz.marks' | translate }} / {{ quiz.sumGradesFormatted }}</p>
                    <p>{{ attempt.readableMark }}</p>
                </div>
                <div class="item item-text-wrap" ng-if="quiz.showGradeColumn && attempt.readableGrade !== ''">
                    <p class="item-heading">{{ 'mma.mod_quiz.grade' | translate }} / {{ quiz.gradeFormatted }}</p>
                    <p>{{ attempt.readableGrade }}</p>
                </div>
                <div class="item item-text-wrap" ng-if="quiz.showFeedbackColumn && attempt.feedback">
                    <p class="item-heading">{{ 'mma.mod_quiz.feedback' | translate }}</p>
                    <p><mm-format-text watch="true" component="{{component}}" component-id="{{componentId}}">{{ attempt.feedback }}</mm-format-text></p>
                </div>
                <div class="item" ng-if="quiz.showReviewColumn && attempt.finished">
                    <button class="button button-block icon-left ion-search" ui-sref="site.mod_quiz-review({courseid: courseId, quizid: quiz.id, attemptid: attempt.id})">{{ 'mma.mod_quiz.review' | translate }}</button>
                </div>
                <div class="item item-text-wrap mm-error-item" ng-if="!quiz.showReviewColumn">
                    <p>{{ 'mma.mod_quiz.noreviewattempt' | translate }}</p>
                </div>
            </div>
				<div class="tabs tabs-striped tabs-free mm-tabs-color" >
                <a class="tab-item" ng-class="{'active': display == DISPLAY_VIEW}" ng-click="changeDisplay(DISPLAY_VIEW)">{{ 'mma.mod_lesson.preview' | translate }}</a>
                <a class="tab-item" ng-class="{'active': display == DISPLAY_REPORTS}" ng-click="changeDisplay(DISPLAY_REPORTS)">{{ 'mma.mod_lesson.reports' | translate }}</a>
            </div>
					            <ng-include ng-if="display == DISPLAY_VIEW" src="'addons/mod/quiz/templates/view.html'"></ng-include>

            <ng-include ng-if="display == DISPLAY_REPORTS" src="'addons/mod/quiz/templates/reports.html'"></ng-include>
        </mm-loading>
	
		
    </ion-content>
</ion-view>