<ion-content class="has-tabs" mm-state-class>
    <ion-refresher pulling-text="{{ 'mm.core.pulltorefresh' | translate }}" ng-if="loaded" on-refresh="refresh()"></ion-refresher>

   
   <div class="item item-divider">
            <h2>{Reports are on Way}</h2>
        </div>
   
   
   
        <mm-empty-box ng-if="(!discussions || discussions.length <= 0) && !showSearchResults" icon="ion-chatboxes" message="{{ 'mma.messages.nomessages' | translate}}"></mm-empty-box>
        <mm-empty-box ng-if="(!results || results.length <= 0) && showSearchResults" icon="ion-ios-search-strong" message="{{ 'mm.core.noresults' | translate}}"></mm-empty-box>
    </mm-loading>
</ion-content>
